@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Basic layout and typography */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

/* Typography spacing */
h1, h2 {
  margin-bottom: 3rem;
}

section {
  margin-top: 3rem;
}

p + p {
  margin-top: 1rem;
}

/* Lists */
ul {
  list-style: none;
  padding-left: 0.5rem;
  margin: 1rem 0;
  line-height: 1.4;
}

ul li::before {
  content: "> ";
}
